{% with search_key_word=search_key_word %}
  {% include "Views/User/index.html"%}
{% endwith %}

{% block modal_form %}
<div class="modal" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userModalLabel">{{ title }}</h5>
                <a href="{{ back_url }}" class="btn-close" aria-label="Close"></a>
            </div>
            <div class="modal-body">
              <form method="POST" action="{{url_for('user_bp.store')}}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                {% for field in form %}
                <div class="form-group row">
                  {{ field.label(class="col-sm-2 col-form-label") }}
                  <div class="col-sm-10">
                    {{ field(class="form-control") }}
                  </div>
                  <span class="text-warning">
                    {% if field.errors %}
                      {% for error in field.errors %}
                        {{ error }}
                      {% endfor %}
                    {% endif %}
                  </span>
                </div>
                <br>
                {% endfor %}
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Send</button>
                  <a href="{{ back_url }}" class="btn btn-secondary">Close</a>
                </div>
              </form>
            </div>   
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

    <script>
    $(document).ready(function () {
        $("#userModal").modal("show")

    })
    </script>


{% endblock %}